.registerBody{
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px;   
    border-radius: 5px;
    background-color: #E8E9EA;
    text-align: center;
}

.registerH2 {
    text-align: center;
    font-size: 30px;
    color: #616161;
}

.registerInputGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; 
}

.registerInputGroupOne {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
    outline: none;
}

.nome{
    font-size: 20px;
    color: #616161;
    text-align: justify;
}

.registerLabel {
    flex: 1;
    margin-right: 40px;
    margin-left: 20px;
}
.input-placeholder::placeholder {
    color: #A38893 ;
}
.registerInput {
    flex: 2;
    padding: 10px;
    border: 1px solid;
    border-color: #4D73F8;
    border-radius: 5px; 
    width: 100%;
    font-size: 20px;
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
    outline: none;
} ::placeholder{
    color: #A38893 ;
}

.plano{
    color: #A38893 ;
}

.registerBotao {
    padding: 10px 60px;
    background-color: #4D73F8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
}

.passwordInput {
    position: relative;
}

.passwordToggle {
    position: absolute;
    top: 55%;
    left: 260px; 
    transform: translateY(-50%);
    background: transparent; 
    border: none;
    cursor: pointer;
    padding: 5px; 
    font-size: 20px; 
    color: #070707;
}

.passwordInput2 {
    position: relative;
}

.passwordToggle2 {
    position: absolute;
    top: 55%;
    left: 260px; 
    transform: translateY(-50%);
    background: transparent; 
    border: none;
    cursor: pointer;
    padding: 5px; 
    font-size: 20px; 
    color: #070707;
}

.radioGroup {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.radiogroupLabel {
    display: flex;
    align-items: center;
    margin-right: 2px;
    color: #616161;
    outline: none;
    margin-left: 20px;
}

.radiogroupInput {
    margin-right: 5px;
}

.labelSexo {
    margin-left: 20px;
     color: #616161;;
}
  