.lateral {
    background-color: #EFEFEF;
    position: fixed;
    height: 100%;
    top: 0;
    width: 300px;
    left: -100%;
    animation: showSidebar .4s;
    animation-fill-mode: forwards; 
}

.active {
    left: 0;
}

.svg2 {
    position: fixed;
    color: #4d73f8;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
  }

@keyframes showSidebar {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 180px;
    }
}

.names{
    margin-top: 100px;
}