/*INICIO HOME*/

.header {
    background-color: #E8E9EA;
    display: flex;
    justify-content: space-between;
    padding: 5px 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover p{
    color: #4D73F8;
}

.navItensSpace {
    margin-right: 32px;
}

.navItemClicado {
    color: #4D73F8;
    font-family: "Chelsea Market", system-ui;
}

.navItem {
    color: #616161;
    font-family: "Chelsea Market", system-ui;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    font-family: "Chelsea Market", system-ui;
    border-radius: 5px;
}

.buttonLeft {
    background-color: #4D73F8;
    color: white;
    border: none;
    padding: 12px 32px;
    margin-right: 25px;
}

.buttonRight {
    color: #4D73F8;
    background-color: #E8E9EA;
    border: 2px solid #4D73F8;
    padding: 10px 15px;
}

/*FIM HOME*/

/*INICIO SECTION1 (WALLPAPER)*/

.wallpaper {
    background-image: url('../../assets/img/Escola+.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    height: 892px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 5px 56px;
}

.title {
    font-family: "Chelsea Market", system-ui;
    font-size: 38px;
    text-align: left;
    margin-bottom: 20px;
}

.destaque {
    color: #616161;
}

.subtitle {
    font-family: "Chelsea Market", system-ui;
    color:#616161;
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
}

.buttonSection {
    background-color: #4D73F8;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 5px;
}

/*FIM SECTION1 (WALLPAPER)*/

/*INICIO SECTION2 (INFORMATION)*/

.information {
    display: block;
    padding-top: 200px;
    justify-content: space-between;
    background: linear-gradient(to bottom, #E8E9EA 50%, #000000);
}

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.titleSec2 {
    font-family: "Chelsea Market", system-ui;
    color:#616161;
}

.titleSec2Space {
    margin-bottom: 30px;
    font-size: 30px;
}

.subtitleSec2 {
    font-family: "Chelsea Market", system-ui;
    color:#616161;
}

.alignBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    border-radius: 10px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.informationBox {
    display: block;
    width: 400px;
}

.titleBox {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.subtitleBox {
    text-align: justify;
}

.imageBox {
    display: block;
    justify-content: center;
}

.testeImg img {
    width: 364px;
    height: 271px;
    margin-bottom: 22px;
    border-radius: 7px;
}

.positionButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionImg {
    border-radius: 20px;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}
.optionImg:hover {
    background-color: #4D73F8;
}

.optionImgSpace {
    margin-right: 7px;
}

.optionImgClicado {
    background-color: #4D73F8;
}

/*FIM SECTION2 (INFORMATION)*/

/*INICIO FOOTER*/

.footerHome {
    padding-top: 200px;
    background-color: #000000;
    height: auto;
}

.arrow {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

.boxConteudoFooter {
    display: flex;
    padding: 20px;
}

.conteudoFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-grow: 1;
}

.tituloFooter {
    font-family: "Chelsea Market", system-ui;
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

.boxInformartionFooter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.informationFooter {
    color: white;
    margin-left: 10px;
}

.ultimoInformationFooter {
    margin-top: 50px;
}

.iconFooter {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 20px;
}

.spaceIcons {
    display: flex;
    margin-top: 10px;
}

.boxNavFooter {
    display: flex;
}

.navPrincipal {
    margin-right: 140px;
}

.itensUl {
    margin-top: 10px;
    color: white;
}

/*FIM DO FOOTER*/